doctype html
html(lang="en")
  head
   title= "Real time web chat"
   script(src='/jquery.min.js')
   link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
   link(href='/materialize/css/materialize.min.css', rel='stylesheet')
   link(href='/main.css', rel='stylesheet')
   script(src='/materialize/js/materialize.min.js')
   script(src='/chat.js')
   script(src='/socket.io/socket.io.js')
  body
   nav
    .nav-wrapper
     a.brand-logo.right(href='#')
      i.large.material-icons insert_chart
     a.button-collapse(href='#', data-activates='mobile-demo')
      i.material-icons menu
     //form
      .input-field
       input#search(type='search')
       label(for='search')
        i.material-icons search
       i.material-icons close
   .container
    h5.col.s12 MyChat - Hello world xD!
    .row
      #content
    .row
     #controls
      .input-field.col.s12
       input#name.validate(type='text')
       label(for='first_name') Username
      .input-field.col.s10
       input#field.validate(type='text')
       label(for='field') Message
      .input-field.col.s2
       a#send.btn.waves-effect.waves-light() send

   footer.page-footer
    .container
     .row
      .col.l6.s12
       h5.white-text Footer Content
       .grey-text.text-lighten-4 You can use rows and columns here to organize your footer content.
      .col.l4.offset-l2.s12
       .white-text Links